version: "3.8"
services:
  zookeeper:
    image: confluentinc/cp-zookeeper
    environment:
      - ZOOKEEPER_CLIENT_PORT=32181
      - ZOOKEEPER_SERVER_ID=1
  kafka:
    image: confluentinc/cp-kafka
    ports:
      - 29092:29092
    depends_on:
      - zookeeper
    environment:
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:29092
      - KAFKA_BROKER_ID=1
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:32181
      - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
  minio:
    image: minio/minio
    command: server /data
    volumes:
      # These vars are defined in .env
      # These are configurable
      # Ensure the directories exist prior to running this file
      - $MINIO_CONFIG_DIR:/root/.minio:Z
      - $MINIO_DATA_DIR:/data:Z
    ports:
      - 9000:9000
    environment:
      - MINIO_ACCESS_KEY=$MINIO_ACCESS_KEY
      - MINIO_SECRET_KEY=$MINIO_SECRET_KEY
  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc config host add myminio http://minio:9000 $MINIO_ACCESS_KEY $MINIO_SECRET_KEY;
      /usr/bin/mc mb myminio/insights-upload-perma;
      /usr/bin/mc mb myminio/insights-upload-rejected;
      /usr/bin/mc policy download myminio/insights-upload-perma;
      /usr/bin/mc policy download myminio/insights-upload-rejected;
      exit 0;
      "
  ingress:
    image: quay.io/cloudservices/insights-ingress:ea99e26
    ports:
      - 8080:3000
    environment:
      - INGRESS_STAGEBUCKET=insights-upload-perma
        # VALIDTOPICS is required. This is derived from content type. ex: vnd.redhat.advisor.thing+tgz
      - INGRESS_VALIDTOPICS=testareno,advisor,compliance,qpc,resource-optimization
      - OPENSHIFT_BUILD_COMMIT=somestring
      - INGRESS_MAXSIZE=104857600
      - INGRESS_MINIODEV=true
      - INGRESS_MINIOACCESSKEY=$MINIO_ACCESS_KEY
      - INGRESS_MINIOSECRETKEY=$MINIO_SECRET_KEY
      - INGRESS_MINIOENDPOINT=minio:9000
    depends_on:
       - kafka
  db-ros:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    ports:
          - "15432:5432"
  db-host-inventory:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: insights
      POSTGRES_USER: insights
      POSTGRES_DB: insights
    ports:
        - "15433:5432"
  insights-inventory:
    image: quay.io/cloudservices/insights-inventory:latest
    restart: always
    ports:
      - 8081:8081
    environment:
      - APP_NAME=inventory
      - PATH_PREFIX=api
      - INVENTORY_DB_USER=insights
      - INVENTORY_DB_PASS=insights
      - INVENTORY_DB_HOST=db-host-inventory
      - INVENTORY_DB_NAME=insights
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - PAYLOAD_TRACKER_ENABLED=false
      - LISTEN_PORT=8081
    depends_on:
       - kafka
       - db-host-inventory
       - puptoo
       - zookeeper
  puptoo:
    image: quay.io/cloudservices/insights-puptoo:latest
    ports:
      - 8000:8000
    environment:
      - LOG_LEVEL=DEBUG
      - ACG_CONFIG=/cdappconfig.json
      - INVENTORY_TOPIC=platform.inventory.host-ingress
    depends_on:
      - kafka
      - ingress
    volumes:
        - '~/cdappconfig.json:/cdappconfig.json'