---
# Steps required to get system ready for the Insights resource-optimization service:
# 1. Check if insights-client is installed on system.
# 2. Check if core_collect is enabled on system.
# 3. Install pcp package on your system.
# 4. Create configuration file for pcp
# 5. Start and enable pmcd service
# 6. Start and enable pmlogger service

- hosts: all
  gather_facts: True
  tasks:
    - name: Install insights-client if not already installed
      yum:
        name: insights-client
        state: latest
    - name: Check if core_collect is enabled
      shell: grep -c '^\s*core_collect\s*=\s*True\s*' /etc/insights-client/insights-client.conf || true
      register: core_collect
    - name: Enable core_collect if not already enabled
      lineinfile:
        dest: /etc/insights-client/insights-client.conf
        line: "core_collect=True"
      when: core_collect.stdout == '0'
    - debug: var=ansible_distribution
    - debug: var=ansible_distribution_major_version
    - debug: var=ansible_architecture
    - name: Enable required repository for RHEL8 x86_64 arch
      rhsm_repository:
        name: rhel-8-for-x86_64-baseos-rpms,rhel-8-for-x86_64-appstream-rpms
        state: enabled
      when:
        - ansible_architecture == "x86_64"
        - ansible_distribution == "RedHat"
        - ansible_distribution_major_version == "8"
    - name: Enable required repository for RHEL8 ARM arch
      rhsm_repository:
        name: rhel-8-for-aarch64-baseos-rpms,rhel-8-for-aarch64-appstream-rpms
        state: enabled
      when:
        - ansible_architecture == "aarch64"
        - ansible_distribution == "RedHat"
        - ansible_distribution_major_version == "8"
    - name: Enable required repository for RHEL7
      rhsm_repository:
        name: rhel-7-server-rpms
        state: enabled
      when:
        - ansible_distribution == "RedHat"
        - ansible_distribution_major_version == "7"
    - name: Install pcp packages for ROS service
      yum:
        name: pcp
        state: latest
    - name: Configure pmlogger
      lineinfile:
        dest: /etc/pcp/pmlogger/control.d/local
        regexp: ".*config.ros.*"
        line: "LOCALHOSTNAME	n   y	PCP_LOG_DIR/pmlogger/ros	-r -T24h10m -c config.ros -v 100Mb"
        create: yes
    - name: Create pcp ros configuration file
      copy:
        dest: /var/lib/pcp/config/pmlogger/config.ros
        content: |
          log mandatory on default {
            mem.util.used
            mem.physmem
            kernel.all.cpu.user
            kernel.all.cpu.sys
            kernel.all.cpu.nice
            kernel.all.cpu.steal
            kernel.all.cpu.idle
            kernel.all.cpu.wait.total
            disk.all.total
            mem.util.cached
            mem.util.bufmem
            mem.util.free
          }
          [access]
          disallow .* : all;
          disallow :* : all;
          allow local:* : enquire;
    - name: Make sure a pcp service is running
      systemd:
        state: started
        enabled: yes
        name: "{{ item }}"
      with_items:
        - 'pmcd'
        - 'pmlogger'
