---
# This playbook will take care of all steps required to remove
# Insights resource-optimization (pcp packages)
- hosts: all
  tasks:
    - name: Ensure a pcp service is stopped
      systemd:
        state: stopped
        enabled: no
        name: "{{ item }}"
      with_items:
        - 'pmcd'
        - 'pmlogger'
    - name: Remove ros pmlogger service instance
      lineinfile:
        dest: /etc/pcp/pmlogger/control.d/local
        regexp: "LOCALHOSTNAME	n   y	PCP_LOG_DIR/pmlogger/ros	-r -T24h10m -c config.ros -v 100Mb"
        state: absent
    - name: Remove ros configuration file 
      file:
        state: absent
        path: /var/lib/pcp/config/pmlogger/config.ros
    - name: Remove pcp packages
      yum:
        name: pcp
        state: absent
    